PORT=4000
DATABASE_URL=file:../../prisma/dev.db
STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
HORIZON_URL=https://horizon-testnet.stellar.org
PROJECT_SLUG=proof-of-payment-for-government-services
